@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100:  #382bf0;
    --color-primary-200:  #5e43f3;
    --color-primary-300:  #7a5af5;
    --color-primary-400:  #9171f8;
    --color-primary-500:  #a688fa;
    --color-primary-600:  #ba9ffb;

    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100:  #121212;
    --color-surface-200:  #282828;
    --color-surface-300:  #3f3f3f;
    --color-surface-400:  #575757;
    --color-surface-500:  #717171;
    --color-surface-600:  #8b8b8b;

    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100:  #1a1625;
    --color-surface-mixed-200:  #2f2b3a;
    --color-surface-mixed-300:  #46424f;
    --color-surface-mixed-400:  #5e5a66;
    --color-surface-mixed-500:  #76737e;
    --color-surface-mixed-600:  #908d96;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-surface-100);
}

main {
    margin-top: 20px;
    height: 95vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 20%;
    height: 95%;
    border-radius: 15px;
    background-color: var(--color-surface-300);
    display: flex;
    flex-direction: column;
}

.menu_title {
    margin-top: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.menu_text {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
}

.option_icon {
    align-items: end;
    display: grid;
    cursor: pointer;
}

.option_icon img {
    width: 22px;
}

.menu1 {
    background-color: red;
}

.content {
    display: flex;
    width: 75%;
    height: 95%;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.content-1 {
    width: 95%;
}

.title-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.heading {
    font-size: 2.5rem;
    color: #fff;
}

.total-task-container {
    margin-top: 4px;
    border: var(--color-surface-200) solid 2px;
    width: 50px;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: 10px;
}

.total-task {
    font-size: 25px;
    font-weight: 500;
}

.add-task {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    padding: 10px 20px;
    border: var(--color-surface-200) solid 2px;
}

.add_task_text {
    font-size: 20px;
    font-weight: 550;
    color: #DCDCDC;
}

.add-task:hover {
    border-color: rgba(220, 220, 220, .8);
}

.tasks {
    margin-top: 20px;
}

.task-1 {
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    margin-bottom: 10px;
}

.task-name {
    color: #ffffff;
    font-size: 15px;
}

.tasks hr {
    margin-left: 10px;
    border-color: var(--color-surface-200);
}



