@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text: #fff;
    --Primary100: #382bf0;
    --Primary200: #5e43f3;
    --Primary300: #7a5af5;
    --theme-primary-base: #d1c4ff;
    --background: #1e1e1e;
    --theme-surface-base: #121212;
    --theme-surface-a20: color-mix(in srgb, var(--theme-primary-base), var(--theme-surface-base) 90%);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}

main {
    margin-top: 20px;
    height: 95vh;
    display: flex;
    gap: 20px;
    color: var(--text);
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 15%;
    height: 95%;
    border-radius: 20px;
    background-color: var(--theme-surface-a20);
}

.content {
    width: 80%;
    height: 95%;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.title-container {
    display: flex;
    gap: 20px;
}

.heading {
    font-size: 40px;
}

.total-task-container {
    margin-top: 10px;
    margin-left: 10px;
    border: rgba(130, 130, 130, 0.9) solid 2px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.total-task {
    font-size: 25px;
    font-weight: 500;
}
